@import url('./variables.css');

.btn {
    padding: 8px 16px;
    font-size: 14px;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--gray-400);
    border-color: var(--gray-400) !important;
}

.btn-outline-primary {
    border: 1px solid var(--primary-color);
}

.btn-dark {
    background-color: var(--text-primary-color);
}

.btn-sm {
    font-size: 12px;
    border-radius: 6px;
}