@import url('./variables.css');

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: var(--white-color);
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: auto;
}

.sidebar-items .sidebar-item {
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar-items .sidebar-item:hover {
    background-color: var(--blue-100);
}

.sidebar-items .sidebar-item:hover p {
    color: var(--primary-color);
}

.sidebar-items .sidebar-item:hover i {
    color: var(--primary-color);
}

.sidebar-items .sidebar-item p  {
    color: var(--secondary-color);
}

.sidebar-items .sidebar-item i  {
    color: var(--secondary-color);
}

.sidebar-items .sidebar-item.sidebar-item-active {
    background-color: #DBEAFE;
}

.sidebar-items .sidebar-item.sidebar-item-active p  {
    color: var(--primary-color);
}

.sidebar-items .sidebar-item.sidebar-item-active i  {
    color: var(--primary-color);
}

.sidebar-quotes {
    position: relative;
    background-color: var(--blue-100);
    padding: 40px 12px 20px 12px;
    border-radius: 8px;
}

.sidebar-quotes .sidebar-quotes-image {
    width: 50%;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar .sidebar-dropdown {
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-items {
    background-color: var(--gray-100);
    padding: 0;
    margin-top: 4px;
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    list-style: none;
    transition: max-height 0.5s ease;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-items.sidebar-dropdown-items-show {
    max-height: 500px;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-items li {
    padding: 8px 16px;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-items li .sidebar-dropdown-item {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    transition: 0.2s;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-items li .sidebar-dropdown-item:hover {
    color: var(--primary-color);
}

.sidebar .sidebar-dropdown .sidebar-dropdown-items li .sidebar-dropdown-item.sidebar-dropdown-item-active {
    color: var(--primary-color);
}

@media screen and (min-width: 992px) {
    .sidebar {
        width: 16%;
    }

    .sidebar-quotes .sidebar-quotes-image {
        top: -100%;
    }
}